* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
/* 不显示闹铃音频控制选项 */
#Alert{
    display: none;
}
/* 闹铃提示框设置 */
.DONE{
    display: none;
    z-index: 100;
    background-color: beige;
    border: 1px solid rgb(0, 102, 255);
    height: 200px;
    width: 20%;
    position: fixed;
    top: 0;
    left: 40%;
}
.DONE button, .DONE button:active{
    display: block;
    height: 30px;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 150px;
}
.DONE button:hover{
    background-color: rgb(0, 102, 255);
    color: white;
}
.HintTitle{
    padding-left: 10px;
    padding-top: 10px;
}
/* 输入部分预设 */
input, button, textarea{
    border: 1px solid rgba(0, 102, 255, 0.5);
    border-radius: 3px;
    padding: 5px 10px;
}
input:focus, textarea:focus {
    border: 2px solid rgb(0, 102, 255);
}
input, textarea, .detail button, .detail{
    display: block;
    width: 100%;
}
textarea{
    min-height: 100px;
}
/* 包裹区预设 */
.wrap{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
}
/* 导航栏预设 */
.navbar, .header{
    text-align: center;
}
.navbar{
    background-color: rgb(0, 100, 255);
    color: white;
    padding: 5px 0;
}
.navbar h1{
    font-size: 24px;
}
/* 头部文字预设 */
.header{
    padding: 10px 0;
}
/* 任务列表预设 */
.task-list{
    padding: 10px;
    margin: 10px auto;
    text-align: left;
    max-width: 600px;
    border: 2px dashed rgba(0, 102, 255, 0.5);
}
.solid-title{
    font-size: 24px;
}
.task-title{
    font-family: Arial, Helvetica, sans-serif;
}
/* 每条任务的预设 */
.item{
    background-color: rgba(0, 102, 255, 0.15);
    line-height: 30px;
    min-height: 30px;
    width: 100%;
}

.task-list .item button{
    display: none;
}
.task-list .item:hover button{
    display: inline-block;
}
/* 完成按钮预设 */
#not-fin, #fin{
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
#not-fin{
    border: 5px solid rgb(0, 100, 255);
}
#not-fin:hover{
    background-color: rgb(0, 100, 255);
}
#fin{
    border: 5px solid grey;
}
#fin:hover{
    background-color: grey;
}
